IMAGE= #コンテナイメージ名
RAM_SIZE= # メモリサイズ
MODEL_NAME= # モデルウェイト(config.json)が含まれる親ディレクトリの名前。
HOST_MODELPATH= # モデルウェイトを格納しているディレクトリパス
API_PORT= # /v1エンドポイントを立てるport
TORCH_CUDA_ARCH_LIST="12.1" # GPUアーキテクチャの型番 GB10はsm_121a